.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-bottom: 15px;
}

.dropdown_content a {
    color: black;
    padding: 15px;

    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content a:hover {
    color: #06a3da;
}

.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}