.custom-h3 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  
  .custom-list {
    list-style-type: none;
    padding-left: 20px;
  }
  .custom-list li {
    margin-bottom: 20px;
  }
  
  .custom-list li::before {
    content: "•"; 
    color: black; 
    font-weight: bold; 
    margin-right: 10px;
  }
  .custom-p {
    padding-bottom: 20px;
  }
  
  .custom-h4{
    font-size: 25px;
  }